<div class="panel panel-info">
    <div class="panel-heading">Application information</div>
    <div class="panel-body">
        <div *ngIf="info!=null && info.build!=null">
            <p><strong>Name:</strong>{{info.build.name}}</p>
            <p><strong>Group:</strong>{{info.build.group}}</p>
            <p><strong>Artifact:</strong>{{info.build.artifact}}</p>
            <p><strong>Version:</strong>{{info.build.version}}</p>
            <p><strong>Time:</strong>{{toDateString(info.build.time)}}</p>
        </div>
        <div *ngIf="info!=null && info.git!=null">
            <p><strong>git branch:</strong>{{info.git.branch}}</p>
            <p><strong>git commit id:</strong>{{info.git.commit.id}}</p>
            <p><strong>git commit time:</strong>{{toDateString(info.git.commit.time)}}</p>
        </div>
    </div>
</div>