<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <span>Accessories</span>
            </div>
            <div class="list-group">
              <app-pagination [items]="accessoryDecoders" [pageSize]="5">
                <ng-template let-item>
                  <div>
                    <span>{{item.name}}</span>
                    <div class="float-right">
                      <input type="button" class="btn btn-success btn-sm" (click)="startEditAccessory(item)" value="Edit"/>
                    </div>
                    <ul class="list-inline">
                      <li class="list-inline-item" *ngFor="let operation of item.accessoryDecoderType.decoderTypeOperations">
                        <input type="button" (click)="operateAccessory(item, operation.decoderOperationValue)"
                               [ngClass]="{'btn-primary': isState(item, operation), 'btn-default': !isState(item, operation)}"
                               class="btn btn-sm" value="{{operation.decoderTypeOperation}}"/>
                      </li>
                    </ul>
                  </div>
                </ng-template>
              </app-pagination>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <span>Accessory Edit</span>
            </div>
            <div class="card-body">
                <form id="createAccessory" name="createAccessory" (ngSubmit)="saveAccessory()" #accessoryForm="ngForm">
                    <div class="form-group row">
                        <label for="accessoryNumber" class="col-sm-4 col-form-label">Accessory Address</label>
                        <div class="col-sm-8">
                            <input type="text" id="accessoryNumber" name="accessoryNumber" class="form-control" placeholder="Accessory Address"
                                   [(ngModel)]="editAccessory.address" required="required" #accessoryNumber="ngModel"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="accessoryName" class="col-sm-4 col-form-label">Accessory Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="accessoryName" name="accessoryName" class="form-control" placeholder="Accessory Name"
                                   [(ngModel)]="editAccessory.name" required="required" #accessoryName="ngModel"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="accessoryType" class="col-sm-4 col-form-label">Accessory Type</label>
                        <div class="col-sm-8">
                            <select name="accessoryType" ngControl="accessoryType" id="accessoryType"
                                    class="form-control" required="required"
                                    [(ngModel)]="editAccessory.accessoryDecoderType.decoderTypeId">
                                <option *ngFor="let decoderType of accessoryDecoderTypes" [value]="decoderType.decoderTypeId">
                                    {{decoderType.decoderType}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="accessoryMacro" class="col-sm-4 col-form-label">Accessory Macro</label>
                        <div class="col-sm-8">
                            <select name="accessoryMacro" id="accessoryMacro" ngControl="accessoryMacro" class="form-control"
                                    #accessoryMacro="ngModel" [(ngModel)]="editAccessory.macroId">
                                <option [value]=""></option>
                                <option *ngFor="let macro of macros"
                                        [value]="macro.macroId">{{macro.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="float-right btn-toolbar">
                                <input type="button" value="Cancel" class="btn btn-sm btn-danger" (click)="cancelEdit()"/>
                                <input type="submit" value="Save" class="btn btn-sm btn-success" [disabled]="!accessoryForm.form.valid"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
