<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">
<body>
<header role="banner" th:fragment="header">
    <nav role="navigation" class="navbar navbar-static-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false"
                        data-target="#navbar"
                        data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/" >DCC Web</a>
            </div>
            <div class="collapse navbar-collapse" id="menubar-navbar-collapse" active-link="active-link">
                <ul class="nav navbar-nav">
                    <li><a href="#/">Engine Shed</a></li>
                    <li><a href="#/decoders">Train Decoders</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<footer role="contentinfo" class="navbar-fixed-bottom" th:fragment="footer">
    <div class="container" ng-controller="info as info">
        <div class="panel panel-info">
            <div class="panel-heading small">Messages</div>
            <ul class="list-group">
                <li class="list-group-item small" ng-repeat="message in info.messages">
                    {{message.message}}
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-text">DCC Web &copy; 2016</p>
            </div>
            <div class="nav navbar-nav navbar-right" ng-controller="info as info">
                <p class="navbar-text">Status: {{info.info.status}}</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>