<footer role="contentinfo">
  <div class="container-fluid">
    <app-dcc-messages>
      <div class="card">
        <div class="card-header small bg-info text-white">Messages</div>
        <ul class="list-group">
        </ul>
      </div>
    </app-dcc-messages>
  </div>
  <div class="navbar navbar-expand-sm fixed-bottom navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
      <span class="navbar-text">DCC Web &copy; 2016</span>
    </div>
    <div class="navbar-nav my-2 my-sm-0">
      <app-dcc-status><span class="navbar-text">Status: Loading...</span></app-dcc-status>
    </div>
  </div>
</footer>
