<div class="list-group-item clearfix" *ngIf="getNumberOfPages()>1">
  <nav aria-label="Page navigation" class="float-right">
    <ul class="pagination pagination-sm">
      <li class="page-item">
        <button type="button" aria-label="Previous" class="page-link" [disabled]="currentPage==1"
                (click)="decrementPage()">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li class="page-item" *ngFor="let index of getPages()" [ngClass]="{'active': currentPage == index}">
        <button type="button" class="page-link" (click)="goToPage(index)">{{index}}</button>
      </li>
      <li class="page-item">
        <button type="button" aria-label="Next" class="page-link" [disabled]="currentPage == getNumberOfPages()"
                (click)="incrementPage()">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
</div>
<div *ngFor="let item of pageItems()" class="list-group-item clearfix">
  <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit:item}"></ng-container>
</div>
