<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header bg-primary text-white">Engine Shed</div>
      <div class="list-group" *ngIf="!mode">
        <app-pagination [items]="locos" [pageSize]="5">
          <ng-template let-item>
            <div>
              <div class="list-group-item-heading clearfix">
                <input type="button" class="btn btn-info btn-sm rightGap" value="Drive" (click)="driveLoco(item)"/>
                {{item.number}} {{item.name}}
                <div class="float-right">
                  <input type="button" class="btn btn-success btn-sm" (click)="startEditLoco(item)" value="Edit"/>
                  <input (click)="configure(item)" class="leftGap btn btn-primary btn-sm" type="button"
                         value="Configure"/>
                </div>
              </div>
              <div *ngIf="item.showConfig" class="list-group-item-text top10">
                <form id="updateConfig" name="updateConfig" (ngSubmit)="assignDecoder(item)">
                  <div class="form-row">
                    <div class="col">
                      <label class="col-form-label" for="decoder">Decoder:</label>
                    </div>
                    <div class="col-sm-9">
                      <select [(ngModel)]="item.decoder.decoderId" class="form-control" id="decoder" name="decoder"
                              ngControl="decoder">
                        <option *ngFor="let decoder of decoders" [value]="decoder.decoderId">Long
                          Address: {{decoder.longAddress}} Short Address: {{decoder.shortAddress}}</option>
                      </select>
                    </div>
                    <div class="col text-right">
                      <input class="btn btn-sm btn-success" type="submit" value="Assign"/>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>
        </app-pagination>
      </div>
      <div class="card-footer clearfix" *ngIf="!mode">
        <input type="button" class="btn btn-success btn-sm float-right" value="Add Loco" (click)="newLoco()"/>
      </div>
      <div class="card-body" *ngIf="mode">
        <form id="createLoco" name="createLoco" (ngSubmit)="saveLoco()" #locoForm="ngForm">
          <div class="form-group row">
            <label for="locoNumber" class="col-sm-3 col-form-label">Loco Number</label>
            <div class="col-sm-9">
              <input type="text" id="locoNumber" name="locoNumber" class="form-control" placeholder="Loco Number"
                     [(ngModel)]="editLoco.number" required="required" #locoNumber="ngModel"/>
            </div>
          </div>
          <div class="form-group row">
            <label for="locoName" class="col-sm-3 col-form-label">Loco Name</label>
            <div class="col-sm-9">
              <input type="text" id="locoName" name="locoName" class="form-control" placeholder="Loco Name"
                     [(ngModel)]="editLoco.name" #locoName="ngModel"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <div class="float-right">
                <input type="button" value="Cancel" class="btn btn-sm btn-danger" (click)="cancelEdit()"/>
                <input [disabled]="!locoForm.form.valid" class="leftGap btn btn-sm btn-success" type="submit"
                       value="Save"/>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <app-cab></app-cab>
  </div>
</div>

