<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header bg-danger text-white">Settings</div>
      <div class="card-body">
        <form id="settingsForm" name="settingsForm"
              (ngSubmit)="saveSettings()" #settingsForm="ngForm">
          <fieldset>
            <legend>Application Settings</legend>
            <div class="form-group row">
              <label for="ddlDccSystem" class="col-form-label col-sm-3">DCC System</label>
              <div class="col-sm-9">
                <select id="ddlDccSystem" class="form-control" name="ddlDccSystem"
                        [(ngModel)]="settings.dccSystem" #ddlDccSystem="ngModel">
                  <option *ngFor="let dccInterface of interfaces" [value]="dccInterface.code">{{dccInterface.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="serialPort" class="col-form-label col-sm-3">Serial Port</label>
              <div class="col-sm-9">
                <input type="text" id="serialPort" class="form-control" name="serialPort"
                       [(ngModel)]="settings.serialPort" #serialPort="ngModel" required="required"/>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <div class="float-right">
                  <input class="btn btn-danger btn-sm" value="Save Settings"
                         (disabled)="!settingsForm.form.valid" type="submit">
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <app-info></app-info>
  </div>
</div>
