.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
    margin: 0px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f00;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 1px;
    bottom: 1px;
    background-color: #fff;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #0c0;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0c0;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 8px;
}

.slider.round:before {
    border-radius: 50%;
}