<header role="banner">
  <nav role="navigation" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">DCC Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/engine-shed" routerLinkActive="active">Engine Shed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/decoders" routerLinkActive="active">Loco Decoders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/accessories" routerLinkActive="active">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blocks" routerLinkActive="active">Blocks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/relays" routerLinkActive="active">Relays</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/macro-edit" routerLinkActive="active">Macros</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-sm-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">Settings</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
