<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Engine Shed</div>
            <div class="list-group" *ngIf="!mode">
              <app-pagination [items]="locos" [pageSize]="5">
                <ng-template let-item>
                  <div>
                    <div class="list-group-item-heading">
                      <input type="button" class="btn btn-info btn-xs" value="Drive" (click)="driveLoco(item)"/>
                      {{item.number}} {{item.name}}
                      <div class="pull-right btn-toolbar">
                        <input type="button" class="btn btn-success btn-xs" (click)="startEditLoco(item)" value="Edit"/>
                        <input type="button" class="btn btn-primary btn-xs" (click)="configure(item)" value="Configure"/>
                      </div>
                    </div>
                    <div class="list-group-item-text" *ngIf="item.showConfig">
                      <form id="updateConfig" class="form-horizontal" name="updateConfig" (ngSubmit)="assignDecoder(item)">
                        <div class="form-group">
                          <label for="decoder" class="col-sm-3 control-label">Decoder:</label>
                          <div class="col-sm-9">
                            <select name="decoder" ngControl="decoder" id="decoder" class="form-control" [(ngModel)]="item.decoder.decoderId">
                              <option *ngFor="let decoder of decoders" [value]="decoder.decoderId">Long Address: {{decoder.longAddress}} Short Address: {{decoder.shortAddress}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="clearfix">
                          <div class="pull-right">
                            <input type="submit" value="Assign" class="btn btn-xs btn-success"/>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </ng-template>
              </app-pagination>
            </div>
            <div class="panel-footer clearfix" *ngIf="!mode">
                <input type="button" class="btn btn-success btn-sm pull-right" value="Add Loco" (click)="newLoco()"/>
            </div>
            <div class="panel-body" *ngIf="mode">
                <form id="createLoco" class="form-horizontal" name="createLoco" (ngSubmit)="saveLoco()" #locoForm="ngForm">
                    <div class="form-group">
                        <label for="locoNumber" class="col-sm-3 control-label">Loco Number</label>
                        <div class="col-sm-9">
                            <input type="text" id="locoNumber" name="locoNumber" class="form-control" placeholder="Loco Number"
                                   [(ngModel)]="editLoco.number" required="required" #locoNumber="ngModel"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="locoName" class="col-sm-3 control-label">Loco Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="locoName" name="locoName" class="form-control" placeholder="Loco Name"
                                   [(ngModel)]="editLoco.name" #locoName="ngModel"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="pull-right btn-toolbar">
                                <input type="button" value="Cancel" class="btn btn-sm btn-danger" (click)="cancelEdit()"/>
                                <input type="submit" value="Save" class="btn btn-sm btn-success" [disabled]="!locoForm.form.valid"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <dcc-cab></dcc-cab>
    </div>
</div>
